.container {
  display: flex;
  position: relative;
  width: 100%;
  min-width: 1px;
}

.input {
  width: 100%;
}

.left {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 32px;
}

.middle {
  display: flex;
  flex-grow: 1;
  min-width: 1px;
}

.right {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 40px;
}

.handlebar {
  opacity: 0;
  font-size: 1.2rem;
}

.container:hover .handlebar {
  opacity: 1;
}

.insertButton {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 36px;
  height: 36px;
  right: 23px;
  color: var(--text-color-secondary);
  font-size: 1.25em;
  cursor: pointer;
}

.insertButton :global(.anticon) {
  background: white;
  border-radius: 50%;
  opacity: 0.66;
}

.insertButton :global(.anticon):hover {
  opacity: 1;
}

.insertButton.before {
  top: -22px;
}

.container:hover .insertButton {
  display: flex;
}

.removeButton:global(.anticon) {
  color: var(--text-color-secondary);
  font-size: 1.25em;
  cursor: pointer;
  opacity: 0.5;
}

.removeButton:global(.anticon):hover {
  opacity: 1;
}
